<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container mt-5 p-5">
			<form action="/user/save-order" method="post" id="orders" novalidate>
				<div class="row">

					<div class="col-md-6">


						<div class="mb-3 row">
							<p class="text-center fs-4">Endereço de Cobrança</p>
							<hr>
							<div class="col p-1">
								<label>Nome Completo</label> <input type="text" name="firstName" required
									class="form-control mt-1">
							</div>
							<div class="col p-1">
								<label>&nbsp;&nbsp;Apelido</label> <input type="text" name="lastName" required
									class="form-control mt-1 ms-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Email</label> <input type="email" name="email" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>&nbsp;&nbsp;Celular Número</label> <input type="text" name="mobileNo" required
									class="form-control col ms-2">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Endereço</label> <input type="text" name="address" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>&nbsp;&nbsp;Cidade</label> <input type="text" name="city" required
									class="form-control col ms-2">
							</div>
						</div>
						<div class="mb-3 row">
							<div class="col p-1">
								<label>Estado</label> <input type="text" name="state" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>&nbsp;&nbsp;CEP</label> <input type="number" name="pincode" required
									class="form-control col ms-2">
							</div>
						</div>
						<!-- </form> -->

					</div>
					<div class="col-md-6">
						<p class="text-center fs-4">Tipo de Pagamento</p>
						<hr>
						<div class="card">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Total do Preço</td>
											<td>:</td>
											<td>R&#36; [[${orderPrice}]]</td>
										</tr>
										<tr>
											<td>Taxa de Entrega</td>
											<td>:</td>
											<td>R&#36; 250</td>
										</tr>

										<tr>
											<td>Imposto</td>
											<td>:</td>
											<td>R&#36; 100</td>
										</tr>

										<tr class="border-top">
											<td>Total do Preço</td>
											<td>:</td>
											<td>R&#36; [[${totalOrderPrice}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

							<div class="card-body">
								<!-- <form action="/login" method="post"> -->
								<div class="mb-3">
									<label class="form-label">Selecione o Tipo de Pagamento</label> <select required
										name="paymentType" class="form-control">
										<option value="">--Selecione--</option>
										<option value="COD">Pagamento na Entrega</option>
										<option value="ONLINE">Pagamento Online</option>
									</select>

								</div>

								<button class="btn bg-primary text-white col-md-12">Enviar 
									Pedido</button>

							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

	</section>
</body>
</html>